body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#conversor-moeda {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

body, html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #D0D4D8;
}

.header-logo {
    height: 40px;
    width: auto;
    margin-left: 20px;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conversor-container,
.exibe-resultado {
    width: 80%;
    margin: 0 auto;
}

.valor-input {
    display: inline-block;
    width: 120px;
    margin: 0 15px;
}

.moeda-input {
    display: inline-block;
    width: 180px;
    margin: 0 15px;
}

.conversor-container fieldset {
    margin: 10px auto;
    border-radius: 50px 50px 0 0;
    border: blue solid 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.550);
    padding: 20px;
    background-color: #F7F7F7;
    text-align: center;
}

.vlr-container,
.moeda-origem-container,
.moeda-destino-container,
.btn-submit-container {
    display: inline-block;
    text-align: left;
    margin: 5px auto;
}

.vlr-container { width: 200px}
.moeda-origem-container { width: 308px}
.moeda-destino-container { width: 250px}

@media screen and (max-width: 650px) {
    .vlr-container,
    .moeda-origem-container,
    .moeda-destino-container {
        min-width: 308px;
        text-align: right;
    }

    .btn-submit-container {
        min-width: 380px;
        text-align: center;
    }

    .valor-input {
        width: 180px;
        margin: 0 15px;
        text-align: center;
    }

    .input-container {
        min-width: 308px;
        text-align: end;
        margin: 5px auto;
    }

    .input-container, select {
        width: 293px;
    }
}


.ARS::after { content: " 🇦🇷"}
.BRL::after { content: " 🇧🇷"}
.CLP::after { content: " 🇨🇱"}
.CNY::after { content: " 🇨🇳"}
.EUR::after { content: " 🇪🇺"}
.GBP::after { content: " 🇬🇧"}
.JPY::after { content: " 🇯🇵"}
.KRW::after { content: " 🇰🇷"}
.USD::after { content: " 🇺🇸"}
.UYU::after { content: " 🇺🇾"}

.exibe-resultado {
    margin: 10px auto;
    border-radius: 0 0 50px 50px;
    border: blue solid 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.550);
    padding: 20px;
    background-color: #F7F7F7;
    text-align: center;
}

.exibe-resultado div {
    display: inline-block;
    box-shadow: inset -2px -2px 3px rgba(0, 0, 0, 0.350), 2px 2px 3px rgba(0, 0, 0, 0.350);
    width: 300px;
    padding: 15px;
    margin: 10px 10px;
}

footer {
    color: yellow;
    margin-top: auto;
}

/* estilos de converteTemperatura */

.conversor-temperatura .vlr-container {
    width: auto;
    min-width: 260px;
}

.input-container {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.input-container .form-label {
    display: inline-block;
    margin-right: 5px;
}
.input-container .form-select {
    display: inline-block;
}

#input-origem, #input-destino {
    width: auto;
}

option {
    text-align: center;
}

.error {
    text-align: center;
    padding: 5px;
    background-color: rgba(245, 71, 71, 0.38);
    border: red solid 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.550);
    border-radius: 50px;
    font-weight: bolder;
    display: inline-block;
    margin: 2px auto;
}

.navbar-nav.ml-auto {
    margin-left: auto;
}



