<div th:fragments="header">
  <header>
    <ul class="nav justify-content-end" style="background-color: aqua">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" th:href="@{/home}">home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>
    </ul>
  </header>
</div>

<div th:fragments="footer">
  <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
  <!-- Footer -->
  <footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom rodape-cor">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Build with:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->


    <!-- Copyright -->
    <div class="text-center p-4">
      <a class="text-reset fw-bold" href="#">wesley-brwno</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>

