<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
    <link rel="icon" href="/assets/images/convert.svg" type="image/svg+xml">
    <title>Multiconversor</title>
</head>
<body id="conversor-medida">
<header>
    <div th:replace="~{/fragments/fragmentos :: header}"></div>
</header>
<main class="conversor-temperatura">
    <section class="conversor-container">
        <form th:action="@{/medidas/converter}" th:object="${medidaConversor}" method="post">
            <fieldset>
                <h2>Conversor de medidas</h2>

                <div class="vlr-container">
                    <label class="form-label" for="valor-input">Medida</label>
                    <input th:field="*{valorEntrada}" type="number" step="0.01" th:value="${valorEntrada == null} ? 0 : valorEntrada" id="valor-input"
                           class="form-control valor-input"/>
                </div>

                <div class="input-container">
                    <label class="form-label">Converter de</label>
                    <select th:field="*{medidaOrigem}" id="input-origem" class="form-select">
                        <option value="" selected>medida de origem</option>
                        <option th:each="medida : ${medidas}" th:value="${medida}" th:text="${medida.getDescricao()}" th:selected="${medida.equals(medidaConversor.getValorEntrada())}"></option>
                    </select>
                </div>

                <div class="input-container">
                    <label class="form-label" for="input-destino">para</label>
                    <select th:field="*{medidaDestino}" id="input-destino" class="form-select">
                        <option value="" selected>medida de destino</option>
                        <option th:each="medida : ${medidas}" th:value="${medida}" th:text="${medida.getDescricao()}" th:selected="${medida.equals(medidaConversor.getMedidaDestino())}"></option>
                    </select>
                </div>

                <div class="btn-submit-container">
                    <button type="submit" class="btn btn-outline-dark">Converter</button>
                </div> <br>

                <div th:each="error : ${errors}">
                    <span th:if="${error}" th:text="${error}" class="error"></span>
                </div>

            </fieldset>
        </form>
    </section>

    <section class="exibe-resultado">
        <h2>Resultado da conversão</h2>
        <div>
            Medida a conveter <br>
            <span th:text="${medidaConversor.getValorEntrada()}"></span>
            <span th:text="${medidaConversor.getMedidaOrigem() != null} ? ${medidaConversor.getMedidaOrigem()} : ''"></span>
        </div>

        <div>
            Medida convertida <br>
            <span th:text="${medidaConversor.getValorSaida()}"></span>
            <span th:text="${medidaConversor.getMedidaDestino() != null} ? ${medidaConversor.getMedidaDestino()} : ''"></span>

        </div>

    </section>
</main>
<footer>
    <div th:replace="~{/fragments/fragmentos :: footer}"></div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>
