<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
    <link rel="icon" href="/assets/images/convert.svg" type="image/svg+xml">
    <title>Multiconversor</title>
</head>
<body id="conversor-moeda">
<header>
    <div th:replace="~{/fragments/fragmentos :: header}"></div>
</header>
<main class="conversor-moeda">
    <section class="conversor-container">
        <form th:action="@{/moedas/converter}" th:object="${moedaConversor}" method="post">
            <fieldset>
                <h2>Conversor de Moedas</h2>

                <div class="vlr-container">
                    <label class="form-label" for="typeNumber">Valor</label>
                    <input th:field="*{valor}" type="number" id="typeNumber" class="form-control valor-input valor-input-moeda"/>
                </div>

                <div class="moeda-origem-container">
                    <label class="form-lable" for="moeda-origem">Converter de</label>
                    <select th:field="*{moedaOrigem}" id="moeda-origem" class="form-select moeda-input"
                            aria-label="Default select example">
                        <option value="" selected>moeda de origem</option>
                        <option th:each="moeda : ${moedas}" th:text="${#strings.replace(moeda.name(), '_', ' ')}"
                                th:value="${moeda.getMoeda()}"></option>
                    </select>
                </div>

                <div class="moeda-destino-container">
                    <label class="form-lable" for="moeda-destino">para</label>
                    <select th:field="*{moedaDestino}" id="moeda-destino" class="form-select moeda-input"
                            aria-label="Default select example">
                        <option value="" selected>moeda de destino</option>
                        <option th:each="moeda : ${moedas}" th:text="${#strings.replace(moeda.name(), '_', ' ')}"
                                th:value="${moeda.getMoeda()}" th:class="${moeda.name()}"></option>
                    </select>
                </div>

                <div class="btn-submit-container">
                    <button type="submit" class="btn btn-outline-dark">Converter</button>
                </div>

                <div th:each="error : ${errors}">
                    <span th:if="${error}" th:text="${error}" class="error"></span>
                </div>

            </fieldset>
        </form>
    </section>

    <section class="exibe-resultado">
        <h2>Resultado da conversão</h2>

        <div>
            Converter de: <span th:text="${moedaConversor.getMoedaOrigem()}" th:class="${moedaConversor.getMoedaOrigem()}"></span><br>
            Valor a converter: <span th:text="${moedaConversor.getValorFormadato()}"></span>
        </div>

        <div>
            Para: <span th:text="${moedaConversor.getMoedaDestino()}" th:class="${moedaConversor.getMoedaDestino()}"></span><br>
            Valor da conversão: <span th:text="${moedaConversor.getValorConvertidoFormadato()}"></span>
        </div>

    </section>
</main>
<footer>
    <div th:replace="~{/fragments/fragmentos :: footer}"></div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>
