<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
    <link rel="icon" href="/assets/images/convert.svg" type="image/svg+xml">
    <title>Multiconversor</title>
</head>
<body id="home-page">
    <header>
    <div th:replace="~{/fragments/fragmentos :: header}"></div>
    </header>
    <main>
        <div>
            <section class="cabecalho">
                <h1>Bem vindo ao Multiconversor</h1>
                <h2>Unindo Moedas, Medidas e Temperaturas em um único lugar!</h2>
            </section>
            <section class="redireciona-pg">
                <a th:href="@{moedas/form}">
                    <figure>
                        <img src="/assets/images/exchange-currency.svg" alt="Representação da troca de moedas entre dolar, euro e yuan.">
                        <figcaption>Conversor de moedas</figcaption>
                    </figure>
                </a>
                <a th:href="@{medidas/form}">
                    <figure>
                        <img src="/assets/images/measure.svg" alt="Tégua simbolizando as medidas.">
                        <figcaption>Conversor de medidas</figcaption>
                    </figure>
                </a>
                <a th:href="@{temperaturas/form}">
                    <figure>
                        <img src="/assets/images/thermometer.svg" alt="Termomêtro representado as temperaturas.">
                        <figcaption>Convesor de temperaturas</figcaption>
                    </figure>
                </a>
            </section>
            <section>
                <h3>Feito com:</h3>
                <section class="built-with-container">
                    <figure class="exibe-logo">
                        <img src="/assets/images/java-horizontal.svg" alt="logo da linguagem Java">
                    </figure>
                    <figure class="exibe-logo">
                        <img src="/assets/images/springio-ar21.svg" alt="logo do Spring Framework">
                    </figure>
                    <figure class="exibe-logo">
                        <img src="/assets/images/thymeleaf-seeklogo.com.svg" alt="logo do template engine Thymeleaf">
                    </figure>
                </section>
            </section>
        </div>

    </main>
    <footer>
        <div th:replace="~{/fragments/fragmentos :: footer}"></div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>
